<html>
<body>
<div style="font-family: 'Trebuchet MS', Helvetica, sans-serif; padding: 6px 12px;">
    <h2 style="margin: .8em 0 .4em">{% block title %}{% endblock %}</h2>
    <small style="color: #787878; font-size: 11px">
        Este correro es generado autom&aacute;tica. Por favor no responder al mismo. Cualquier duda hacerla a
        <a href="mailto:info@hoyosgarces.com">info@hoyosgarces.com</a>. Muchas Gracias.
    </small>
    <div style="font-size: 14px;">
    {% block body %}{% endblock %}
    </div>
</div>
</body>
</html>